<!DOCTYPE html>
<html>
	<head>
		<title>Index - pasticciotto.net</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="index.pasticciotto.net">
		<link rel="stylesheet" media="screen" href="https://screencss.com/screen-0.4.0.css">
	</head>
    <body>
        <h1>
            <span class="xxbold">Index</span>
            &mdash; pasticciotto.net
        </h1>

        <img src="data:image/jpeg;base64,{{ .Picture }}"/>

        <div class="hr">
            <span class="bold">Last update: {{ (.Updated).Format "Mon Jan 2 15:04" }}</span>
        </div>

        <table>
            <tr>
                <th>Namespace</th>
                <th>Ingress</th>
                <th>Hosts</th>
            </tr>

            {{ range $ns, $nsdata := .Data }}
                {{ range $ig, $h := $nsdata }}
                    <tr>
                        <td>{{ $ns }}</td>
                        <td>{{ $ig }}</td>
                        <td>
                            {{ range $_, $url := $h }}
                                <a href="https://{{ $url }}">{{ $url }}</a>
                            {{ end }}
                        </td>
                    </tr>
                {{ end }}
            {{ end }}
        </table>

        <p class="grey xsmall center">with 🥃 from 🇮🇹</p>
    </body>
</html>
